* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
html,
body {
  display: grid;
  height: 100vh;
  place-items: center;
  background: rgb(17, 85, 17);
}
.main_div {
  width: 365px;
  background: #fff;
  padding: 30px;
  border-radius: 5px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
}
.main_div .title {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
}

form {
  margin-top: 25px;
}
form .input_box {
  height: 50px;
  width: 100%;
  position: relative;
  margin-top: 40px;
}
.input_box input {
  height: 100%;
  width: 100%;
  outline: none;
  border: 1px solid lightgrey;
  border-radius: 5px;
  padding-left: 45px;
  font-size: 17px;
  transition: all 0.3s ease;
}
.input_box input:focus {
  border-color: #0e2508;
}
.input_box .icon {
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  color: grey;
}
form .option_div {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}
.option_div .check_box {
  display: flex;
  align-items: center;
}
.option_div span {
  margin-left: 5px;
  font-size: 16px;
  color: #333;
}
.option_div .forget_div a {
  font-size: 16px;
  color: #101d1300;
}

.login {
  width: 100%;
  padding: 10px;
  background-color: #0e2508;
  color: #fff;
  border: none;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s linear;
  border-radius: 4px;
}
form {
  text-align: center;
  margin-top: 25px;
}
form a {
  text-decoration: none;
}
form a:hover {
  text-decoration: underline;
}

.modal {
  top: 50px;
  color: #fff;
  border: 1px solid lightgrey;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: 500;
  transition: all 0.1s ease;
  text-align: center;
  position: absolute;
  display: none;
  z-index: 999;
}

span {
  display: none;
  padding: 8px;
}
